{% extends 'movies/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="p-5 rounded shadow" style="background-color: #343a40; color: #e0e0e0; width: 100%; max-width: 500px;">
        <h2 class="text-center text-success mb-4">Modifier le film</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="mb-3">
                <label for="new_genre" class="form-label">Nouveau genre (facultatif) :</label>
                <input type="text" name="new_genre" id="new_genre" class="form-control" placeholder="Entrez un nouveau genre" value="{% if movie.genre %}{{ movie.genre.name }}{% endif %}">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success mt-3">Modifier</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
